.App {
  text-align: center;
  margin-top: 40px;
}

thead {color:black;}
tbody {color: #2B547E;}
table, th, td {
 border: 1px solid black;
 margin: auto;
}
td, th{
 padding: 5px;
}

input.searchString {
  margin-bottom: 40px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}